# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# !!DO NOT COMMIT BOT TOKEN TO GITHUB!!
app/src/main/resources/bot_token.txt
